name: Python
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: '3.14'
      - uses: abatilo/actions-poetry
      - run: poetry install
      - run: poetry run black --check --verbose .
