name: release

on:
  push:
    tags:
       - 'v*'

jobs:
  linux-wheels:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux_2_28_x86_64:latest
    steps:
      - uses: actions/checkout@v3
        with:
          set-safe-directory: true
      - name: Build wheels
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env
          rustup default nightly
          bash .github/workflows/build-wheels.sh
      - uses: actions/upload-artifact@v4
        with:
          name: linux-wheels
          path: wheelhouse/

  osx-wheels:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.13", "3.14"]
    steps:
     - uses: actions/checkout@v1
     - uses: actions-rs/toolchain@v1
       with:
         toolchain: "nightly"
         default: true
     - uses: actions/setup-python@v2
       with:
         python-version: ${{ matrix.python-version }}
     - name: Build wheels
       run: |
         python3 -m pip install maturin
         maturin build --release
     - uses: actions/upload-artifact@v4
       with:
         name: osx-${{ matrix.python-version }}-wheel
         path: target/wheels

  windows-wheels:
    runs-on: windows-latest
    steps:
     - uses: actions/checkout@v1
     - uses: actions-rs/toolchain@v1
       with:
         toolchain: "nightly"
         default: true
     - uses: actions/setup-python@v2
     - name: Build wheels
       run: |
         python -m pip install maturin
         maturin build --release
     - uses: actions/upload-artifact@v4
       with:
         name: windows-wheels
         path: target/wheels

  upload-release:
    name: Upload Release Assets
    needs: [linux-wheels, osx-wheels, windows-wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          path: artifacts 

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*.whl

